:root {
  --primary: #228fa6;
}

body {
  font-family: "Source Sans Pro", "sans serif";
  display: flex;
  height: 100vh;
  width: 100%;
}

main {
  flex-grow: 1;
  padding-inline: 40px;
  padding-block: 60px;
  max-width: 400px;
}

main img {
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.1));
}

main .welcome {
  margin-top: 40px;
  margin-bottom: 30px;
}

main .welcome h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

main .welcome p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 22px;
  font-style: normal;
}

main .menu {
  display: flex;
  gap: 15px;
  font-size: 14px;
  font-weight: 600;
}

main .menu .login {
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
  text-decoration-color: var(--primary);
}

main .menu .register {
  color: rgba(0, 0, 0, 0.4);
}

main .menu .register:hover {
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
  text-decoration-color: var(--primary);
}

main form {
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

main form label {
  display: block;
  margin-bottom: 5px;
}

main form .password label {
  display: flex;
  justify-content: space-between;
}

main form .password label a {
  text-decoration: underline;
  color: var(--primary);
}

main form .password label a:hover {
  opacity: 0.8;
}

main form input {
  background-color: #f2f2f2;
  border-radius: 3px;
  width: 100%;
  padding-block: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

main form button {
  display: block;
  width: 100%;
  text-align: center;
  padding-block: 15px;
  background-color: var(--primary);
  border-radius: 3px;
  color: #fff;
  box-shadow: 0px 15px 30px rgba(34, 143, 166, 0.5);
  border: 2px solid var(--primary);
  cursor: pointer;
}

main form button:hover {
  background-color: transparent;
  color: var(--primary);
}

main .copyright {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}

aside {
  flex-grow: 1;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 49.48%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("Picture.jpg");
  background-size: cover;
  height: screen;
  padding-inline: 40px;
  padding-block: 60px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside .NavBar {
  display: flex;
  gap: 30px;
}

aside .NavBar a {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 600;
}

aside .NavBar .active {
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--primary);
  cursor: default;
}

aside .NavBar a:hover {
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--primary);
}

aside p {
  font-size: 14px;
  font-weight: 600;
}

aside p a {
  text-decoration: underline;
}

aside p a:hover {
  color: var(--primary);
}
